<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Розклад</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="styles.css">
</head>
<style>
    body {
        background-image: url(https://images.wallpaperscraft.ru/image/single/fon_sploshnoj_svetlyj_44011_1920x1080.jpg);
    }
</style>
<body>
<div class="headW">
    <a class="active" href="#schedul">Розклад</a>
    <a th:href="teacher">Викладчі</a>
    <a th:href="discipline">Предмети</a>
    <a th:href="@{/returnT}">Вийти</a>
</div>
<h1 th:text="|Розклад Занять|" class="clr"></h1>
<table class="table table-sm table-dark table-striped-columns table-bordered border-light">

    <thead class="table-warning table-dark text-center text-white">
    <tr>
        <th>Id</th>
        <th>День</th>
        <th>Рік</th>
        <th>№</th>
        <th>Семестер</th>
        <th>Спеціальність</th>
        <th>Курс</th>
        <th>Група</th>
        <th>Тиждень</th>
        <th>Форма роботи</th>
        <th>Предмет</th>
        <th>Викладач</th>
        <th>X</th>
        <th>Дані Викладача</th>
        <th>Редагувати</th>

    </tr>
    </thead>

    <tbody class="text-white">
    <tr th:each="s : ${schedul}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.day}"></td>
        <td th:text="${s.year}"></td>
        <td th:text="${s.number}"></td>
        <td th:text="${s.semester}"></td>
        <td th:text="${s.special}"></td>
        <td th:text="${s.course}"></td>
        <td th:text="${s.group}"></td>
        <td th:text="${s.week}"></td>
        <td th:text="${s.form}"></td>
        <td th:text="${s.discipline}"></td>
        <td th:text="${s.teacher}"></td>
        <td><a th:href="@{/delete_schedul(id=${s.id})}" class="btn btn-outline-danger">Delete</a>
        <td><a th:href="@{/schedul_teacher(id=${s.id})}" class="btn btn-outline-info">Teacher</a></td>
        <td><a th:href="@{/schedul_edit(id=${s.id})}" class="btn btn-outline-secondary" >edit</a></td>


    </tr>
    </tbody>
</table>

<form action="addschedul" method="post">
    <input type="text" name="day" placeholder="day">
    <input type="number" name="year" placeholder="year">
    <input type="number" name="number" placeholder="number">
    <input type="number" name="semester" placeholder="semester">
    <input type="number" name="special" placeholder="special">
    <input type="number" name="course" placeholder="course">
    <input type="number" name="group" placeholder="group">
    <input type="text" name="week" placeholder="week">
    <input type="text" name="form" placeholder="form">
    <input type="text" name="discipline" placeholder="discipline">
    <input type="text" name="teacher" placeholder="teacher">
    <input type="submit" value="Add" class="btn btn-primary">

</form>
<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>